@model IEnumerable<RateMyLandlord.Models.ViewModels.Search.SearchResultViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Result Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplaySubText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultType)
        </td>
        <td>
            @Html.ActionLink("Details", "PropertyProfile", new { id=item.Id })
        </td>
    </tr>
}

</table>
