@model List<RateMyLandlord.Models.ViewModels.Account.LandlordRatingViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.UserId)*@
            User Id
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.RaterId)*@
            Rater Id
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Rating)*@
            Rating
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Comment)*@
            Comment
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
    </tr>
}

</table>
